<launch>
  <arg name="mav_name" default="drone_1"/>

  <!-- <node name="call_reset_service" pkg="rosservice" type="rosservice" args="call /airsim_node/reset"/> -->

  <include file="$(find point_lio)/launch/mapping_rmua.launch">
    <arg name="rviz" value="false"/>
  </include>
  <node name="lee_position_controller_node" pkg="rotors_control" type="lee_position_controller_node" output="screen">
    <rosparam command="load" file="$(find rotors_control)/resource/lee_controller_$(arg mav_name).yaml" />
    <rosparam command="load" file="$(find rotors_control)/resource/$(arg mav_name).yaml" />
  </node>

  <node name="imu_gps_odometry" pkg="imu_gps_odometry" type="imu_gps_odometry" output="screen"/>
  <node name="hovering_example" pkg="rotors_control" type="hovering_example" output="screen"/>
</launch>